* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
.nav-middle ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
.nav-middle a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.common-btn{
    padding: 12px 24px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: white;
    cursor: pointer;
}

.outline-btn{
    padding: 12px 24px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    background-color: white;
    color: #1D4ED8;
    cursor: pointer;

}

.hero-parent {
    background-image: url(./assets/banner.jpg);
    background-size: cover ;
    height: 786px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.hero-content h1{
    font-weight: bold;
    font-size: 80px;
    color: white;
    margin-top: -150px; 

}
.hero-content p{
    font-size: 22px;
    color: #ffffffe6;
    max-width: 700px;
    margin: 20px auto;
}

.hero-content .common-btn{
    margin-top: 150px;

}

.speaker-parent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.speaker-parent h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}
.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.speaker-content {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
}
.speaker-content img{
    height: 240px;
    width: 100%;
    object-fit: cover;
}
.speaker-content-card{
    padding: 14px;
}
.speaker-category{
    color: #2563EB;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;

}

.speaker-content-card h3{
    color : #0D1B2A;
    margin-bottom: 4px;
    font-size: 24px;
}
.speaker-designation{
    color: #575757;
    font-size: 14px;
}

.pricing-parent {
    max-width: 1200px;
    margin: 40px auto
}

.pricing-parent h2, .highlight-parent h2, .newsletter-parent h2, .schedule-parent h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
}

.pricing-parent-text, .highlight-text, .newsletter-text , .schedule-text{
    text-align: center;
    color: #575757;
    margin-top: 10px;
    margin-bottom: 50px;
}

.pricing-parent-card {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.pricing-card {
    padding: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: 380px;
}

.pricing-card .plan-name {
    font-weight: bold;
    font-size: 12px;
    color: #6B7280;
}

.pricing-card .price {
    font-size: 44px;
    color: #0D1B2A;
    margin-top: 10px;
}

.pricing-card .price-text{
    color: #6B7280;
    margin-top: 5px;
    font-size: 12px;
}
.pricing-card hr{
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 20px 0;
}
.pricing-card ul{
    list-style: disc;
    padding-left: 18px;

}
.pricing-card li, .schedule-card li{
    margin-bottom: 12px;
    color: #333333;
    font-size: 14px;
}

.pricing-card .outline-btn, .pricing-card .common-btn{
    width: 100%;
    margin-top: 12px;
}

.pro-card {
    background:#0F172A;
}
.pro-card .price{
    color: white;
}
.pro-card hr{
    border-top: 1px solid #FFFFFF1A;
}
.pro-card .price-text {
    color: rgb(255 255 255 / 50%);
}
.pro-card .plan-name {
    color: #93C5FD;
}
.pro-card li {
    color: rgb(255 255 255 / 80%);
}
.pro-card li::marker {
    color: #60A5FA;
}
.pricing-card li::marker , .schedule-card li::marker{
    color: #2563EB;
}

.schedule-parent{
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}


.schedule-grid{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.schedule-card{
    flex: 1;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 30px;
    text-align: left;
}

.schedule-card h3{
    color: #2563EB;
    font-size: 24px;
    margin-bottom: 20px;
}

.schedule-card ul{
    padding-left: 20px;
}

.schedule-day{
    color: #2563EB;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.highlight-parent{
    max-width:1200px;
    margin:80px auto;
    text-align:center;
}

.highlight-grid{
    display:flex;
    justify-content:center;
    gap:20px;
}

.highlight-card{
    flex:1;
    min-width: 250px;
    border:1px solid #E5E7EB;
    border-radius:12px;
    padding:35px 20px;
}
.highlight-card h3{
    font-size:42px;
    color:#2563EB;
    margin-bottom:10px;
}

.highlight-card p{
    color:#575757;
}

.newsletter-parent{
    background:#F8FAFC;
    text-align:center;
    padding:80px 20px;
    margin-top:80px;
}

.newsletter-form{
    display:flex;
    justify-content:center;
    gap:15px;
}

.newsletter-form input{
    height: 50px;
    /* width:400px; */
    padding:0px 18px;
    border:1px solid #D1D5DB;
    border-radius:10px;
    font-size:16px;
}

.newsletter-form .common-btn{
    height:50px;
    width:auto;
    margin-top:0;
}

.newsletter-form button{
    width: 200px;
}

.footer-parent{
    background-color:#0D1B2A;
    padding:40px 60px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer-top img{
    height:40px;
}

.social-icons{
    display:flex;
    gap:18px;
}
.social-icons a{
    color:white;
    font-size:20px;
    text-decoration:none;
    transition:.3s;
}

.social-icons a:hover{
    color:#60A5FA;
}

.footer-parent hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.1);
    margin:25px 0;

}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p{
    color: #9CA3AF;
    font-size: 14px;
}

.footer-links{
    display: flex;
    gap: 20px;
}

.footer-links a{
    text-decoration: none;
    color: #9CA3AF;
    font-size: 14px;
}

.footer-links a:hover{
    color: white;
}

